body{
    background-color: black;
}
#canvas1{
    width: 800px;
    height: 700px;
    border: 3px solid white;
}

.container{
    width: 850px;
    height: 750px;
    margin: auto;
    justify-content: center;
    align-content: center;
}